<div>
    <div class="container-fluid">
        <div class="row">
            <button class="btn btn-primary" ng-click="vm.logout()" >
                <span class="glyphicon glyphicon-log-out"></span>
            </button>
            <button class="btn btn-primary" ng-click="vm.clear()" >
                <span class="glyphicon glyphicon-repeat"></span>
            </button>
        </div>
    </div>
    <br/>
    <div class="stack-list">
        <input type="number"
               class="stack-input"
               ng-model="vm.stack.val"
               ng-keyup="$event.keyCode == 13 && vm.save()"/><button ng-click="vm.save()">Add</button>
        <div class="stack-item-container" ng-repeat="stack in vm.stacks | orderBy: '-id' track by stack.id">
            <div class="stack-item" data-drag="true" jqyoui-draggable="{onStop:'vm.dragStopCallback(event)'}" ng-if="$index==0">
                {{stack.val}}
            </div>
            <div class="stack-item" data-drag="false" ng-if="$index!=0">
                {{stack.val}}
            </div>
        </div>

    </div>
</div>
